-e .

Pygments
Sphinx
behave
cheesecake
coverage
devpi
flake8
mako
matplotlib
numpy
paramiko
pep8
pepper8
pexpect
pycabehtml
pycodestyle
pylint
pymetrics
pytest
pytest-cov
radon
scp
setuptools
sphinx-bootstrap-theme
sphinx-pyreverse
sphinxcontrib-actdiag
sphinxcontrib-blockdiag
sphinxcontrib-nwdiag
sphinxcontrib-plantuml
sphinxcontrib-seqdiag
versio
wheel
